@{
	ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
	<div style="color: #22285a">
		<h2>One Stop Center (Myanmar)</h2>
		<p class="lead">
			Malaysia Visa Service
		</p>
		<h4>
			We are pleased to announce the Malaysia Visa Services rendered to Myanmar citizens.
			Please schedule an appointment for the required service.
		</h4>
	</div>

	<br />
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
				<a href="~/ConsularAppt/Create/1" class="btn btn-primary btn-lg">Visa Appointment Form&nbsp;&nbsp;&raquo;<br /> <small>(Agents)</small></a>
		</div>
		<div class="col-md-1 ">
		</div>
		<div class="col-md-5 ">
			<a href="~/ConsularAppt/Create/2" class="btn btn-primary btn-lg">Visa Appointment Form&nbsp;&nbsp;&raquo;<br /> <small>(Individuals)</small>
				</a>
		</div>
	</div>
</div>

<div class="container hidden">
	<div class="row">
		<div class="col-md-4 panel panel-default" style="margin-left:12px; margin-right:18px;">
			<p>
				<ul>
					<li>Renewal of Passport</li>
					<li>Loss/Damage of Passport</li>
					<li>New Born Baby Passport</li>
					<li>From Seaman Passport to Shore Job Passport</li>
				</ul>
			</p>
		</div>
		<div class="col-md-4 panel panel-default" style="margin-left:12px; margin-right:18px;">
			<p>
				<ul>
					<li>Recommendation Letter for being Student</li>
					<li>Recommendation Letter for being Dependent</li>
					<li>Recommendation Letter for being Unemployed</li>
					<li>Inland Revenue Authority of Singapore – IRAS</li>
				</ul>
			</p>
		</div>
		<div class="col-md-3 panel panel-default" style="margin-left:12px; margin-right:18px;">
			<p>
				<ul>
					<li>Income Tax</li>
					<li>Invitation to Monks</li>
					<li>Air Ticket Fee Deposit</li>
					<li>General / Special Power</li>
				</ul>
			</p>
		</div>
	</div>
</div>