@model DpWebApp.Models.AgencyAppointmentVM


@using DpWebApp.BLL
@{
	ViewBag.Title = "AgentManager";
	SelectList workingDays = DateTime.Now.WorkingDaysSelectList(15, Request.IsAuthenticated);
}

@using (Html.BeginForm())
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<hi>Agent Appointment:</hi>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row clearfix">
					<div class="form-group pull-left">
						<label class="control-label" for="AppointmentDate">Appointment Date:</label>
						@Html.DropDownListFor(model => model.AppointmentDate, workingDays, "-- Select Appointment Date --"
, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.AppointmentDate, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-11 column">
						<table class="table table-condensed table-bordered table-striped table-hover" id="ppTab">
							<thead>
								<tr>
									<th class="text-center">
										No.
									</th>
									<th class="text-center">
										Name
									</th>
									<th class="text-center">
										Passport Number
									</th>
									<th class="text-center">
										Issue Date
									</th>
								</tr>
							</thead>
							<tbody>
								<tr id='ppTr_0'>
									<td>
										1
									</td>
									<td>
											<input type="text" name='VisaApplications[0].Name' placeholder='Name' class="form-control" style="display:inline" data-val="true" data-val-required="??" />
										<span class="field-validation-valid text-danger" data-valmsg-for="VisaApplications[0].Name" data-valmsg-replace="true"></span>
									</td>
									<td>
										<input type="text" name='VisaApplications[0].PassportNumber' placeholder='Passport Number' class="form-control" style="display:inline" data-val="true"  data-val-required="??" />
										<span class="field-validation-valid text-danger" data-valmsg-for="VisaApplications[0].PassportNumber" data-valmsg-replace="true"></span>
									</td>
									<td>
										<input type="text" name='VisaApplications[0].PassportIssueDate' placeholder='Expiration Date (yyyy-mm-dd)' class="form-control" style="display:inline" data-val="true"  data-val-required="??" />
										<span class="field-validation-valid text-danger" data-valmsg-for="VisaApplications[0].PassportIssueDate" data-valmsg-replace="true"></span>
									</td>
								</tr>
								<tr id='ppTr_1'></tr>
							</tbody>
						</table>
					</div>
				</div>
				<button id="add_row" class="btn btn-xs btn-default" formnovalidate="formnovalidate" data-dpwa-action="Add Row">
					<i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
				</button>
				<button id="delete_row" class="btn btn-xs btn-default" formnovalidate="formnovalidate" data-dpwa-action="cancel">
					<i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Delete
				</button>
			</div>
		</div>
		<div class="panel-footer">
			<button id="btnSubmit" class="btn btn-primary" data-dpwa-action="Submit">
				&nbsp;Submit
			</button>
		</div>
	</div>
}



@section Scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(document).ready(function () {

			var i = 1;

			$("#add_row").click(function (e) {

				e.preventDefault();

				$('#ppTr_' + i).html("<td>" + (i + 1) + "</td>"
					+ "<td><input name='VisaApplications[" + i + "].Name' type='text' placeholder='Name' class='form-control'  data-val='true' data-val-required='Required' /> </td>"
					+ "<td><input name='VisaApplications[" + i + "].PassportNumber' type='text' placeholder='Passport Number' class='form-control' data-val='true' data-val-required='Required' /></td>"
					+ "<td><input name='VisaApplications[" + i + "].PassportIssueDate' type='text' placeholder='Issue Date (yyyy-mm-yy)' class='form-control' data-val='true' data-val-required='Required' /></td>");


				$('#ppTab').append('<tr id="ppTr_' + (i + 1) + '"></tr>');
				i++;

			});

			$("#delete_row").click(function (e) {

				e.preventDefault();

				/*
				var rowCount = $('#ppTab > tbody > tr').length;
				alert ( i + ", " + rowCount);
				if (rowCount > 1000) {
					alert("removing " + "#ppTr_" + (i - 1));
					$("#ppTr_" + (i - 1)).remove();
				}
				*/

				if (i > 1) {
					$("#ppTr_" + (i - 1)).html('');
					i--;
				}

			});



			$("#btnSubmit").on("click", function (e) {

				e.preventDefault();

				$("form").removeData("validator");
				$("form").removeData("unobtrusiveValidation");
				$.validator.unobtrusive.parse("form");

				$("form").submit();
			});



		});

	</script>
}
