@model DpWebApp.Models.AgentAppointmentVM


@using DpWebApp.BLL
@{
	ViewBag.Title = "AgentManager";
	SelectList workingDays = DateTime.Now.WorkingDaysSelectList(15, Request.IsAuthenticated);
}

@using (Html.BeginForm())
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<hi>Agent Appointment:</hi>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row clearfix">
					<div class="form-group pull-left">
						@Html.LabelFor(model => model.AppointmentDate, htmlAttributes: new { @class = "control-label" })
						@Html.DropDownListFor(model => model.AppointmentDate, workingDays, "-- Select Appointment Date --"
, new { @class = "form-control" })
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-11 column">
						<table class="table table-condensed table-bordered table-striped table-hover" id="ppTab">
							<thead>
								<tr>
									<th class="text-center">
										No.
									</th>
									<th class="text-center">
										Name
									</th>
									<th class="text-center">
										Passport Number
									</th>
									<th class="text-center">
										Issue Date
									</th>
								</tr>
							</thead>
							<tbody>
								<tr id='ppTr_0'>
									<td>
										1
									</td>
									<td>
										<input type="text" name='VisaApplications[0].Name' placeholder='Name' class="form-control" />
									</td>
									<td>
										<input type="text" name='VisaApplications[0].PassportNumber' placeholder='Passport Number' class="form-control" />
									</td>
									<td>
										<input type="text" name='VisaApplications[0].PassportIssueDate' placeholder='Issue Date (yyyy-mm-dd)' class="form-control" />
									</td>
								</tr>
								<tr id='ppTr_1'></tr>
							</tbody>
						</table>
					</div>
				</div>
				<button id="add_row" class="btn btn-xs btn-default" formnovalidate="formnovalidate" data-dpwa-action="Add Row">
					<i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
				</button>
				<button id="delete_row" class="btn btn-xs btn-default" formnovalidate="formnovalidate" data-dpwa-action="cancel">
					<i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Delete
				</button>
			</div>
		</div>
		<div class="panel-footer">
			<button id="btnSubmit" class="btn btn-primary" data-dpwa-action="Submit">
				&nbsp;Submit
			</button>
		</div>
	</div>
}



@section Scripts
{
	<script>
		$(document).ready(function () {

			var i = 1;

			$("#add_row").click(function (e) {

				e.preventDefault();

				$('#ppTr_' + i).html("<td>" + (i + 1) + "</td>"
					+ "<td><input name='VisaApplications[" + i + "].Name' type='text' placeholder='Name' class='form-control text-box single-line input-md'  data-val='true' data-val-required='Required' /> </td>"
					+ "<td><input name='VisaApplications[" + i + "].PassportNumber' type='text' placeholder='Passport Number' class='form-control text-box single-line input-md' data-val='true' data-val-required='Required'></td>"
					+ "<td><input name='VisaApplications[" + i + "].PassportIssueDate' type='text' placeholder='Issue Date (yyyy-mm-yy)' class='form-control text-box single-line input-md' data-val='true' data-val-required='Required'></td>");

				$('#ppTab').append('<tr id="ppTr_' + (i + 1) + '"></tr>');
				i++;
			});

			$("#delete_row").click(function (e) {

				e.preventDefault();

				/* 
				var rowCount = $('#ppTab > tbody > tr').length;
				alert ( i + ", " + rowCount);
				if (rowCount > 1000) {
					alert("removing " + "#ppTr_" + (i - 1));
					$("#ppTr_" + (i - 1)).remove();
				}
				*/

				if (i > 1) {
					$("#ppTr_" + (i - 1)).html('');
					i--;
				}
			});

			$("#btnSubmit").on("click", function (e) {

				e.preventDefault();

				//Remove current form validation information
				$("form")
					.removeData("validator")
					.removeData("unobtrusiveValidation");

				//Parse the form again
				$.validator
					.unobtrusive
					.parse("form");


				$("form").submit();
			});

		});

	</script>
}
